body   
     div.chassis
          h2.title Pomodoro timer
          h1.timerDisplay(value= 1500000) 25 : 00
          div.selector        
            button.child.break(value= +60000) +
            p.child.value(id="break" value = 300000) 5
            button.child.break(value= -60000) - 
            p.child break
          div.selector
            button.child.session(value= +60000) +
            p.child.value(id="session") 25
            button.child.session(value= -60000) -
            p.child session
          button.toggle start
          
footer Designed by 
   a(href="https://www.freecodecamp.com/nickeyvee" target= "blank") Nick Vorraso     
  